@import "Color";
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: $color-tertiary;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}


.container {
    padding-top: 100px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
