
header {
    background-color: $color-primary;
    position: absolute;
    z-index: 999;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    nav {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 55px;
        a {
            color: $color-tertiary;
            font-size: 1.2rem;
            padding: 0 5px;
            &.active {
                font-weight: bold;
                color: $color-secondary;
            }
            &:hover {
                color: $color-secondary;
            }
        }
    }
}

.culture-form {
    input[type="submit"]{
        color: $color-tertiary;
        margin: 0;
        &.active {
            color: $color-secondary;
            text-decoration: underline;
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        top: auto;
        bottom: 0;
        height: 70px;    
        nav {
        }
    }
}
